
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
    line-height: 1.5;
}
ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 30%;
}

li {
    margin: 15px;
}

.txt {
    box-shadow: 2px 2px 2px #1C6EA4 ;
    border: 5px solid #1C6EA4;
}
#description {
    text-align:center;
}

button {
    background-color: #1C6EA4; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}